<body>
        <header>
                <% include ../partials/header %>
            </header>
    <h1>Scheduling App</h1>
<form>
    <label>Name:</label>
    <input type="text">
    <label>Date:</label>
    <input type="text">
    <label>Details:</label>
    <input type="text">
    <label>Location:</label>
    <input type="text">
</form>
</body>