<form action="/scheds" method="GET">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Date:</label>
    <input type="text" name="date">
    <label>Details:</label>
    <input type="text" name="details">
    <label>Location:</label>
    <input type="text" name="location">
</form>