<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='stylesheets/style.css' />
</head>

<body>
  <h1>Scheduling App</h1>
  <form>

    <ul>
      <li>Name:</li>
      <input type="text" name="name">
      <li>Date:</li>
      <input type="text" name="date">
      <li>Location:</li>
      <input type="text" name="location">
      <li>Details:</li>
      <input type="text" name="details">
    </ul>
  </form>
</body>

</html>