<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='public/stylesheets/styles.css' />
</head>

<body>
  <h1>Scheduling App</h1>
  <ul>
    <li>Name:</li>
    <input type="text" name="name">
    <li>Date:</li>
    <input type="text" name="date">
    <li>Location:</li>
    <input type="text" name="location">
    <li>Details:</li>
    <input type="text" name="details">
  </ul>
  <input type="submit" value="Update">
</body>

</html>