<body>
    <h1>Scheduling App</h1>
<form action="/scheds/index" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Date:</label>
    <input type="text" name="date">
    <label>Details:</label>
    <input type="text" name="details">
    <label>Location:</label>
    <input type="text" name="location">
    <button type="submit" value="Add Event">Add Event</button>
</form>
</body>