<!-- views/partials/header.ejs -->

<nav role="navigation">
    <div class="navi">
        <span> <a href="/">Home</a></span>
        <span> <a href="/scheds/new">New Event</a></span>
    </div>

</nav>