<!-- views/partials/header.ejs -->

<nav role="navigation">
    <div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/scheds/new">New Event</a></li>
        </ul>
    </div>

    </div>
</nav>