body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
  background-color: cornflowerblue;
  color: rgba(10, 10, 10, .7);
  text-decoration: none;
}

a {
  color: #00B7FF;
}

.navi {
  display: inline;
  background-color: blanchedalmond;
  padding: 5px;
  margin: 5px;
}

login {
  justify-self: flex-end;
  flex-direction: row;
  text-align: center;
  vertical-align: middle;
  align-content: center;
}