body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
  background-color: cornflowerblue;
  color: rgba(240, 240, 240, .9);
}

a {
  color: white;
  font-size: 20px;
}

.navi {
  display: inline;
}


h1 {
  font-size: 100px;
  font-weight: 900;
}

ul {
  list-style-type: none;
  font-size: 24px;
}

strong {
  font-weight: 900;
}

.card {
  /* background: blanchedalmond; */
  border: dotted rgba(240, 240, 240, .7) 2px;
}

#panda {
  list-style-type: none;
  font-size: 24px;
}

.new {

  font-weight: 900;
  font-size: 20px;
  color: rgba(240, 240, 240, .9);
}